.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.roomWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 20px;
  /* background-color: red; */
  overflow-y: auto;

  height: 30rem;
  padding: 1rem;
  width: 100%;
}
.roomContainer {
  width: 90%;
  height: 6rem;
  flex-shrink: 0;

  border-radius: 20px;
  border: 1px solid #e78f57;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  cursor: pointer;
}
.top {
  width: 80%;
  margin: 0 2rem;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
}

.top > h1 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
}

.top > h2 {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
  /* text-align: right; */
}

.bottom {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  width: 80%;
}
.filter {
  display: flex;
  gap: 0.3rem;
  display: flex;
  align-items: center;
}

.filter > h1 {
  min-width: 4.2rem;
  height: 1.5rem;
  flex-shrink: 0;
  padding: 0 0.5rem;
  border-radius: 20px;
  background: #badafe;

  font-size: 1rem;
  font-style: normal;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
}

.filter > h2 {
  width: 3rem;
  height: 1.5rem;
  flex-shrink: 0;

  border-radius: 20px;
  background: #febae4;

  font-size: 1rem;
  font-style: normal;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
}

.peopleContainer {
  width: 4.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  border-radius: 10px;
  background: #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
.peopleIcon {
  width: 1.2rem;
}

.btnContainer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.btnContainer > div > p {
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.2rem;
}

.btnActive {
  color: #e78f57;
}

.btnDeactive {
  color: #a7a7a7;
}

.btnContainer > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  text-align: left;
  width: 80%;
  color: #5a2a00;
}
