/* src/components/BottomNav.css */
/* BottomNav.css */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 375px;  
  height: 60px;
  background-color: #FEDBB5;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
}


.bottom-nav button {
  background: none;
  border: none;
  font-size: 16px;
  padding: 8px 12px;
}

.nav-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  filter: grayscale(40%);
}

.bottom-nav button.active .nav-icon {
  filter: none; /* 활성화된 버튼은 선명하게 */
}