.wrapper {
  width: 100%;
  /* height: 100vh; */
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 3rem; */
  align-items: center;
  /* margin-top: 8rem; */
}
